.burger-builder {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.burger-image1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.bread-top,
.bread-bottom {
  width: 100%;
  height: 30px;
  background-color: #f9e0b2;
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

.salad,
.bacon,
.cheese,
.meat {
  border: none;
  margin: 5px 0;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}
.salad {
  background-color: #79e97f;
  border-radius: 11px;
  width: 100%;
  height: 20px;
}
.bacon {
  background-color: rgb(219, 120, 54);
  width: 100%;
  height: 10px;
}
.cheese {
  background-color: #bdd342;
  border-radius: 10px;
  width: 100%;
  height: 20px;
}
.meat {
  background-color: rgba(77, 9, 9, 0.952);
  border-radius: 30px;
  width: 100%;
  height: 20px;
}
.buttonss {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;

    label {
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      color: #333;
      width: 150px;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #6f7072;
      color: white;
      transition: background-color 0.3s, transform 0.1s ease-in-out;
      margin-left: 10px;

      &:hover {
        background-color: #38393a;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.checkout {
  margin-top: 50px;
  text-align: center;

  button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6e706e;
    color: white;
    transition: background-color 0.3s, transform 0.1s ease-in-out;

    &:hover {
      background-color: #3b3b3b;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

h3 {
  font-size: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}
