.order-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  }
  

  .topping-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-left: 20px;

    li {
      margin-right: 15px;
    }
  }
